@charset "utf-8";

@import "variable";
@import "basic/mixin";
@import "basic/selector";


.alignC {
    text-align: center !important;
}
.alignR {
    text-align: right !important;
}
.alignL {
    text-align: left !important;
}
.bold {
    font-weight: bold !important;
}


/*==================================================================================================
    
==================================================================================================*/
.site-header {
    width: 1026px;
    top: 20px;
    left: calc((100vw - 1100px) / 2 + 37px);
    @include max-screen(1100px) {
        left: 37px;
    }
    @include max-screen($screen-sm) {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    &__logo {
        display: block;
        margin-right: auto;
        img {
            height: 62px;
            @include max-screen($screen-sm) {
                height: 36px;
            }
        }
        @include max-screen($screen-sm) {
            display: block;
            margin-left: 1em;
        }
    }
    .menu-btn {
        right: calc((100vw - 1100px) / 2 + 20px);
        @include max-screen($screen-sm) {
            right: 0;
        }
    }
}
.page-ttl {
    background: url(../img/taste/main_bg.png) no-repeat;
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    font-size: (34em/16);
    line-height: 1;
    font-family: $Hina-font;
    font-weight: normal;
    color: $gre;
    width: 1100px;
    margin: 0 auto (100em/34);
    padding: (141em/34) 0;
    @include max-screen($screen-sm) {
        width: 100%;
        font-size: (26em/16);
        padding: (58em/26) 0;
        margin-bottom: (40em/26);
    }
    &.origin {
        background-image: url(../img/origin/main_bg.png);
    }
}
.page-txt {
    width: 1100px;
    padding: 0 37px;
    margin: 0 auto 80px;
    font-size: (18em/16);
    @include max-screen($screen-sm) {
        width: 100%;
        font-size: (15em/16);
        line-height: (28/15);
        margin-bottom: (60em/15);
    }
}

.taste-sec {
    margin-bottom: 5em;
    position: relative;
    @include max-screen($screen-sm) {
        margin-bottom: 3em;
    }
    &:nth-of-type(even) {
        text-align: right;
        .taste-sec__ttl {
            padding-left: 2em;
            padding-right: calc((100vw - 1100px) / 2);
            @include max-screen(1180px) {
                display: block;
                padding-right: 40px;
                padding-left: 0;
                margin-left: 40px;
                margin-right: 0;
            }
        }
        .taste-sec__bdy {
            text-align: left;
        }
        .taste-sec__cont {
            @include max-screen($screen-sm) {
                order: 2;
            }
        }
        .taste-sec__img {
            margin-right: 0;
            margin-left: 40px;
            order: 2;
            @include max-screen($screen-sm) {
                order: 1;
                margin-left: 0;
            }
        }
    }
    &__ttl {
        font-family: $Hina-font;
        font-size: (54em/16);
        color: $gre;
        font-weight: normal;
        vertical-align: middle;
        padding-left: calc((100vw - 1100px) / 2);
        padding-right: 2em;
        border-bottom: 1px solid $gre;
        line-height: 1.2;
        margin-bottom: 1em;
        display: inline-block;
        @include max-screen(1180px) {
            display: block;
            padding-left: 40px;
            padding-right: 0;
            margin-right: 40px;
        }
        @include max-screen($screen-sm) {
            font-size: (26em/16);
        }
        span {
            color: $lgre;
            font-family: $JosefinS-font;
            font-style: italic;
            font-size: (110em/54);
            margin-right: 0.25em;
            position: relative;
            bottom: -0.05em;
            @include max-screen($screen-sm) {
                font-size: (58em/26);
            }
        }
    }
    &__bdy {
        width: 1180px;
        padding: 0 114px 0 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @include max-screen($screen-sm) {
            width: 100%;
            flex-direction: column;
            padding: 0 37px;
        }
    }
    &__photo {
        width: 892px;
        margin-top: 70px;
        @include max-screen($screen-sm) {
            width: 100%;
            padding: 0 37px;
            margin-top: 1em;
        }
    }
    &__img {
        width: 266px;
        margin-right: 40px;
        @include max-screen($screen-sm) {
            width: 100%;
            margin-bottom: 1.5em;
            margin-right: 0;
        }
        &.--sm {
            @include max-screen($screen-sm) {
                text-align: center;
                margin-bottom: 0;
                img {
                    width: 200px;
                }
            }
        }
    }
    &__cont {
        width: 720px;
        flex: 1;
        @include max-screen($screen-sm) {
            width: 100%;
        }
    }
    &__subttl {
        font-family: $Hina-font;
        color: $gre;
        font-weight: normal;
        font-size: (36em/16);
        margin-bottom: 0.5em;
        @include max-screen($screen-sm) {
            font-size: (22em/16);
            line-height: (34/22);
        }
    }
    &__txt {
        margin-bottom: 1em;
        line-height: (30/16);
        @include max-screen($screen-sm) {
            font-size: (14em/16);
            line-height: (24/14);
        }
        .ico {
            height: 2em;
            width: auto;
            display: inline-block;
            margin-right: 1em;
            @include max-screen($screen-sm) {
                float: left;
                height: 30px;
                margin-top: 0.5em;
            }
        }
    }
}

@keyframes parallax-fast-anim {
    from {
        transform: translateY(200vh);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes parallax-slow-anim {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes parallax-slow-anim2 {
    from {
        transform: translateY(-80vh);
    }
    to {
        transform: translateY(0px);
    }
}
 
.abs-img01 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -150vh;
    width: (440em/16);
    animation: parallax-fast-anim linear;
    animation-timeline: scroll();
    @include max-screen($screen-sm) {
        width: 55%;
        top: -70vh;
    }
}
.abs-img02 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -150vh;
    width: (270em/16);
    animation: parallax-fast-anim linear;
    animation-timeline: scroll();
    @include max-screen($screen-sm) {
        width: 35%;
        top: -40vh;
        left: auto;
        right: 0;
    }
}


.sec-cont {
    position: relative;
    z-index: 1;
    background: #FFF;
    padding-bottom: (50em/16);
    &:after {
        content: "";
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        background: url(../img/common/cont_bg_gr.svg) no-repeat;
        background-size: 100% auto;
        padding-top: percentage(150/1366);
    }
    &:nth-of-type(1) {
        &:after {
            content: none;
        }
    }
    &:nth-of-type(even) {
        background: #ebf2f0;
        &:after {
            background-image: url(../img/common/cont_bg_wt.svg);
        }
    }
}

.sec-area {
    padding: (300em/16) 40px (100em/16);
    @include max-screen($screen-sm) {
        padding: (100em/16) 0 (50em/16);
    }
    &__ttl {
        width: 1100px;
        margin: 0 auto;
        font-family: $Hina-font;
        color: $gre;
        font-size: (45em/16);
        line-height: 1.4;
        font-weight: normal;
        @include max-screen($screen-sm) {
            width: percentage(236/390);
            min-width: 236px;
            font-size: (38em/16);
            margin-bottom: 0.5em;
        }
        &.--sm {
            @include max-screen($screen-sm) {
                font-size: (25em/16);
            }
        }
    }
    &__txt {
        width: 1100px;
        margin: 0 auto;
        font-size: (18em/16);
        @include max-screen($screen-sm) {
            width: percentage(236/390);
            min-width: 236px;
            margin-top: 0.5em;
            font-size: (14em/16);
        }
        a {
            color: $gre;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.shop-list {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include max-screen($screen-sm) {
        flex-direction: column;
        width: percentage(236/390);
        min-width: 236px;
    }
    li {
        width: percentage(530/1100);
        margin-top: 3em;
        display: flex;
        align-items: center;
        @include max-screen($screen-sm) {
            width: 100%;
            display: block;
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            & + li {
                margin-top: 2em;
            }
        }
        figure {
            width: percentage(236/530);
            border: 1px solid $gre;
            margin-right: 2em;
            @include max-screen($screen-sm) {
                width: 100%;
            }
        }
        p {
            @include max-screen($screen-sm) {
                margin-top: 1em;
                font-size: (14em/16);
            }
            a {
                font-size: (18em/16);
                color: $gre;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
                @include max-screen($screen-sm) {
                    font-size: (16em/14);
                }
            }
        }
    }
}

.other-list {
    margin: 3em auto;
    @include min-screen($screen-sm + 1) {
        width: 1100px;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 30%;
            margin-left: 5%;
            box-sizing: content-box;
            position: relative;
            &:nth-of-type(3n+1) {
                margin-left: 0;
                padding-left: 0;
                &:after {
                    content: none;
                }
            }
            &:nth-of-type(n+4) {
                margin-top: 5%;
                &:before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-top: percentage(-27.5/330);
                    background: #CCC;
                }
            }
            &:after {
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                margin-left: percentage(-27.5/330);
                background: #CCC;
            }
        }
    }
    @include max-screen($screen-sm) {
        flex-direction: column;
        width: percentage(236/390);
        min-width: 236px;
        li + li{
            margin-top: 10%;
            padding-top: 10%;
            border-top: 1px solid #CCC;
        }
    }
    figure {
        margin-bottom: 1em;
    }
    &__tag {
        margin-bottom: 0.5em;
        background: #CCC;
        color: #FFF;
        font-size: (13em/16);
        text-align: center;
        width: (108em/13);
        &.--chaba {
            background: #009b4a;
        }
        &.--tea {
            background: #7bbd34;
        }
        &.--kino {
            background: #fd641d;
        }
    }
    &__name {
        color: $gre;
        font-weight: bold;
        line-height: 1.6;
        font-size: (15em/16);
        margin-bottom: 0.25em;
    }
    &__info {
        font-size: (14em/16);
    }
}

.more-cont {
    transition: .4s;
    height: (1400em/16);
    overflow: hidden;
    @include max-screen($screen-sm) {
        height: 1700px;
    }
    &.--sp {
        @include min-screen($screen-sm + 1) {
            height: auto;
        }
        @include max-screen($screen-sm) {
            height: 700px;
            overflow: hidden;
        }
    }
}
.more-btn {
    &.--sp {
        display: none;
        @include max-screen($screen-sm) {
            display: block;
        }
    }
    width: 100%;
    max-width: 200px;
    margin: 3em auto 0;
    border-radius: 50em;
    background: #FFF;
    border: 1px solid $gre;
    color: $gre;
    text-align: center;
    padding: 0.5em;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background: $gre;
        color: #FFF;
        &:after {
            background-image: url(../img/common/arrow_d_wt.svg);
        }
    }
    &:after {
        content: "";
        width: 1em;
        height: 0.6em;
        background: url(../img/common/arrow_d.svg) no-repeat;
        background-size: 100% auto;
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translate(0,-50%);
        transition: .3s;
    }
    &.active {
        &:after {
            transform: translate(0,-50%) rotate(180deg);
        }
    }
    @include max-screen($screen-sm) {
        font-size: (14em/16);
    }
}

.sec-grid {
    margin-bottom: 3em;
    padding: 0 40px;
    &__inner {
        width: 1026px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max-screen($screen-sm) {
            flex-direction: column;
            width: 100%;
        }
    }
    &__read {
        width: percentage(600/1026);
        @include max-screen($screen-sm) {
            width: 100%;
        }
    }
    &__ttl {
        font-size: (42em/16);
        font-weight: normal;
        color: $gre;
        font-family: $Hina-font;
        margin-bottom: 0.25em;
        @include max-screen($screen-sm) {
            font-size: (30em/16);
            line-height: (46/30);
        }
    }
    &__txt {
        @include max-screen($screen-sm) {
            font-size: (15em/16);
            line-height: (28/15);
        }
    }
    &__map {
        width: percentage(426/1026);
        position: relative;
        @include max-screen($screen-sm) {
            width: 100%;
            margin-top: 1em;
        }
        .map-pin {
            position: absolute;
            color: #FFF;
            text-align: center;
            &.--A {
                top: 65%;
                left: 23%;
            }
            &.--B {
                top: 81%;
                left: 29%;
            }
            &.--C {
                top: 76%;
                left: 41%;
            }
            &.--D {
                top: 52%;
                left: 49%;
            }
            &.--E {
                top: 49%;
                left: 58%;
            }
            &.--F {
                top: 39%;
                left: 69%;
            }
        }
    }
}

.mv-cont {
    width: 500px;
    height: 280px;
    position: relative;
    margin: 0 auto 3em;
    @include max-screen($screen-sm) {
        width: 80%;
        height: 0;
        padding-top: (56.25%*0.8);
    }
    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.link-list-cont {
    @include max-screen($screen-sm) {
        border: 1px solid $gre;
        text-align: center;
        max-width: 70%;
        margin: 0 auto;
    }
    &__ttl {
        padding: 0.5em 0;
        display: none;
        color: $gre;
        font-weight: bold;
        font-size: (14em/16);
        position: relative;
        @include max-screen($screen-sm) {
            display: block;
        }
        &:after {
            content: "";
            width: 1em;
            height: 0.6em;
            background: url(../img/common/arrow_d.svg) no-repeat;
            background-size: 100% auto;
            position: absolute;
            top: 50%;
            right: 1em;
            transform: translate(0,-50%);
            transition: .3s;
        }
        &.active {
            &:after {
                transform: translate(0,-50%) rotate(180deg);
            }
        }
    }
}
.link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1026px;
    margin: 0 auto 3em;
    @include max-screen($screen-sm) {
        margin-bottom: 0;
        display: none;
    }
    li {
        margin: 0.5em;
        width: (240em/16);
        @include max-screen($screen-sm) {
            width: 100%;
            margin: 0;
        }
        a {
            display: block;
            border-radius: 50em;
            border: 1px solid $gre;
            color: $gre;
            padding: 0.5em;
            text-align: center;
            position: relative;
            @include max-screen($screen-sm) {
                border-radius: 0;
                border: none;
                border-top: 1px solid $gre;
                font-size: (14em/16);
            }
            &:after {
                content: "";
                width: 0.75em;
                height: 0.45em;
                background: url(../img/common/arrow_d.svg) no-repeat;
                background-size: 100% auto;
                position: absolute;
                top: 50%;
                right: 1em;
                transform: translate(0,-50%);
                transition: .3s;
            }
            &:hover {
                background: $gre;
                color: #FFF;
                &:after {
                    background-image: url(../img/common/arrow_d_wt.svg);
                }
            }
        }
    }
}

.origin-list {
    width: 1100px;
    margin: 0 auto;
    padding: (200em/16) 0 (100em/16);
    @include max-screen($screen-sm) {
        width: 100%;
        padding: (50em/16) 40px (50em/16);
    }
    @include min-screen($screen-sm + 1) {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
            width: percentage(470/1100);
        }
    }
    li {
        text-align: center;
        position: relative;
        margin-top: 5em;
        &:before {
            content: "";
            width: 1px;
            height: (62em/16);
            display: block;
            margin: 0 auto 1em;
            background: $gre;
            @include max-screen($screen-sm) {
                height: (42em/16);
            }
        }
    }
    &__sub {
        font-size: (15em/16);
        @include max-screen($screen-sm) {
            font-size: (13em/16);
        }
    }
    &__name {
        font-family: $Hina-font;
        font-weight: normal;
        color: $gre;
        font-size: (36em/16);
        @include max-screen($screen-sm) {
            font-size: (30em/16);
        }
    }
    &__tag {
        display: inline-block;
        background: $gre;
        color: #FFF;
        font-size: (14em/16);
        padding: 0.25em;
        width: (120em/14);
        margin-top: .5em;
        margin-bottom: 1em;
        @include max-screen($screen-sm) {
            font-size: (12em/16);
        }
    }
    &__txt {
        text-align: left;
        margin-bottom: 1em;
        @include max-screen($screen-sm) {
            font-size: (14em/16);
            line-height: (24/14);
        }
    }
    &__img {
        img {
            max-width: 260px;
        }
    }
}
